VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_APP_NAME=NXQ Web V7
VITE_APP_ENV=local
VITE_PUBLIC_SITE_URL=http://localhost:5173
VITE_OWNER_PORTAL_URL=http://localhost:5173/owner
VITE_CLIENT_PORTAL_URL=http://localhost:5173/client
